<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="heading">
    <div class="logo-section">
        <a href="/">
            <img src="/assets/logo/logo.svg" alt="main logo">
        </a>
        <a href="/">
            <h1>JustMapGE</h1>
        </a>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Search..." (keydown.enter)="search()">
        <a href="/">
            <i class="fas fa-search search-icon"></i>
        </a>
    </div>

    <div class="some-btn">
        <button>About Us</button>
    </div>
</div>