.heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgba(246, 246, 246, 0.887);
  height: 8vh;
}

.logo-section {
  align-items: center;
  display: flex;
  margin-left: -8%;
}

.heading > .logo-section > a > img {
  width: 32px;
  height: auto;
}

.heading > .logo-section > a > h1 {
  color: black;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #d0cfce;
  padding: 5px;
  border-radius: 20px;
  width: 300px;
}

.search-bar input[type="text"] {
  border: none;
  background: none;
  padding: 5px;
  outline: none;
  width: 100%;
  color: color;
}

.search-icon {
  margin-right: 5px;
  color: #504d4d;
}

.some-btn > a > button {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: large;
  transition: transform 0.2s, box-shadow 0.2s;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
}

.some-btn > a > button:hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
}
