<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<div class="heading">
    <div class="logo-section">
        <a href="/">
            <img src="/assets/logo/logo.svg" alt="main logo">
        </a>
        <a href="/">
            <h1>JustMapGE</h1>
        </a>
    </div>
    <div class="search-bar">
        <i class="fas fa-search search-icon"></i>
        <input type="text" placeholder="Search...">
    </div>
    <div class="some-btns">
        <a href="/">About Us</a>
    </div>
    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="What place are you looking for?">
            <button type="submit" class="searchButton">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
</div>